# MkDocs configuration file
site_name: MLOps Workshop
copyright: Copyright &copy; Mohammad Bahmani 2025

theme:
  name: material
  custom_dir: docs/assets/overrides

  # font: 
  #   text: Merriweather Sans
  #   code: Red Hat Mono
  
  icon:
    repo: fontawesome/brands/github
    admonition:
      example: octicons/terminal-24

  logo: assets/images/mlops-workshop-icon.jpeg
  language: en
  favicon: assets/images/mlops-workshop-icon.jpeg

  features:
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - Navigation.footer
    - search.highlight
    - search.suggest

  palette:    
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple
    
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
      base_path:
        - .
        - docs/labs-docs/snippets
        - docs/labs-docs/bike-sharing/snippets
        # - docs/automation-platform/snippets
        # - docs/projects/cloud-automation/snippets
        # - docs/projects/linux-automation/snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - tables
  - toc:
      title: On this page

# Add Repo URL and Repo Name
repo_url: https://github.com/MohammadB88/MLOps-Workshop-Exercises.git
repo_name: mohammad/mlops-workshop-exercises

# Add links to my social accounts
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MohammadB88/MLOps-Workshop-Exercises.git
      name: Project in Github
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/mohammad-bahmani-ph-d-03810978/
      name: LinkedIn Profile

extra_css:
  - assets/stylesheets/tables.css

extra_javascript:
  - assets/javascripts/extra/refresh-on-toggle-dark-light.js
  - assets/javascripts/extra/tablesort.min.js
  - assets/javascripts/extra/tablesort.js


# Navigation definition
nav:
  - "Home":
    - index.md
    - mlops-overview.md
    - workshop-overview.md
    - environment-requirement.md
  
  - "What is MLOps?":
    - mlops-overview.md
  
  - "Hands-on Labs":
    - workshop-overview.md
    - "Wine Quality Classifier": labs-docs/wine-quality-classifier.md
    - "Bike Demand Forecasting": labs-docs/bike-demand-forecasting.md
    - "1 - Environment & Prerequisites": labs-docs/bike-sharing/01_environment_prerequisites.md 
    - "2 - Load, Extract and Clean the Data": labs-docs/bike-sharing/02_load_extract_clean_data.md
    - "3 - Prepare the Data for Training": labs-docs/bike-sharing/03_prepare_data_training.md
    - "4 - Model Training and Experiment Tracking": labs-docs/bike-sharing/04_mode_training_experiment_tracking.md
    - "5 - Review the Experiments & Select the Best Model": labs-docs/bike-sharing/05_review_experiment_best_model.md
    - "6 - Model Deploymet - Containerize the Endpoint-API": labs-docs/bike-sharing/06_containerize_model_endpoint.md
    - "7 - Model Deploymet - Deploy on OpenShift Cluster": labs-docs/bike-sharing/07_model_deployment_openshift.md
    - "8 - Model Deploymet - Testing Model Endpoint-API": labs-docs/bike-sharing/08_test_model_endpoint.md
    - "9 - Model & Data Monitoring": labs-docs/bike-sharing/09_model_data_monitoring.md
  
  - "Environment & Prerequisites":
    - environment-requirement.md
    - git-cheatsheet.md
    - mlflow-installation.md
    - redhat-demo-environment.md
    - helm-installation.md

